

/* indicates what page you are on in the nav - see index.html for where to find this class if confused - add to all pages */
.current{
    text-transform: uppercase;
    text-decoration: underline;
}

footer{
    background-color:black;
    color: white;
    padding-top: 30px;
    text-align: center;
  }
  
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none !important;
    transition: top 0s ease-out !important;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }

.grid-container{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 6%;
    margin: 2%;
}

.portrait-image{
    width: 400px;
    padding: 20%;
}

.p1{
    grid-column: 1/-1;
}

.p2{
    grid-column: 1 / -1;
}

/* testing */
/* .portrait-image{
    grid-column: 3 / span 1;
} */

@media all and (min-width: 600px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 1100px){
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 2
    }
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      background: white;
      left: 0;
      padding: 6px;
      position: absolute;
      top: -40px;
      -webkit-transition: none !important;
      transition: top 0s ease-out !important;
      z-index: 1;
    }
}  