/*.header img{
  visibility: hidden;
}*/
/* 
.header__navbar {
  padding: 0 0;
  border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}
.navbar {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 3rem;
}
.navbar__logo{
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 3rem;
  margin: 0;
  padding: 1rem 0;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
 .navbar__links a{
    padding: 2rem;
    text-transform: uppercase;
    text-align: center;
    display: block;
 }

 .navbar__links a:hover {
      color: orangered;
    } */

 

/* indicates what page you are on in the nav - see index.html for where to find this class if confused - add to all pages */
.current{
    text-transform: bold;
    text-decoration: underline;
    border:1px solid white;
}

footer{
    background-color:black;
    color: white;
    padding-top: 30px;
    text-align: center;
  }
  
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none !important;
    transition: top 0s ease-out !important;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }

.grid-container{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 6%;
    margin: 2%;
}

/* index styling */
.portrait-image{
    width: 400px;
    padding: 20%;
}

.p1{
    grid-column: 1/-1;
}

.p2{
    grid-column: 1 / -1;
}

.portrait-image{
    grid-column: 1/ -1;
    /* want to center photo; */
}

/* resume styling */
div #a{
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
}
div.lists{
    text-align: left;
    padding-left: 8%;
    padding-right: 8%;
}

/* mobile nav */
/* .nav{
    background-color: #9c2913;
  }
  
  .nav a{
    color: white;
  }
nav ul{
    list-style:none;  
}

nav ul li{
    padding: 2%;
    display: inline;
} */

/* nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
nav a:focus{
    border: 2px solid black;
  }
  
nav a:hover{
    text-decoration: underline;
  } */



@media all and (min-width: 600px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
    
  /* .navbar, .navbar__links {
    display: flex;
  }

  .navbar {
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		max-width: 1366px;
    } */
    
    /* tablet nav */
    /* nav ul{
        flex-direction: row;
        justify-content:space-between;
    } */

}

@media all and (min-width: 1100px){
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 2
    }

    /* .navbar {
      flex-direction: row;
      justify-content: space-between;        
    } */

        /* nav ul{
            justify-content:flex-end;
        }
        
        nav a{
          text-decoration: none; 
        }
        
        nav a:hover{
          text-decoration:underline; 
        }
         */
        
        .skip a{
          background: white;
          left: 0;
          padding: 6px;
          position: absolute;
          top: -40px;
          -webkit-transition: top 1s ease-out;
          transition: top 1s ease-out;
          z-index: 1;
        }

      }
/*

.header {
  background-color: #E9AFA3;
  max-width: 1fr;
}
.header img{
  visibility: visible;
  max-width: 100%;
  max-height:   auto;
  vertical-align: middle;
}
.top-bit{
  z-index: 99;
  background-color: #E9AFA3;
  width: 1fr;
}
nav ul{
  padding-right: 40px;
  list-style-type: none;
}

nav li{
  display: inline-grid;
  padding-left: 20px;
  padding-right: 20px;
  /*Your code here */
/* } */

/* .nav{
  overflow: hidden;
  vertical-align: middle;
  top:0;
  width:100%;
  color: #f2f2f2;
  display: block;
  background-color: #E9AFA3;
  text-align: center; 
  margin: auto;

} */
/* .nav a {
  font-size: 24px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
} */
/* .sticky {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 1fr;
  border-right: 60px;
}

.sticky + .content {
  padding-top: 60px;
}

.cell img {
  display: block;
} */


@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      background: white;
      left: 0;
      padding: 6px;
      position: absolute;
      top: -40px;
      -webkit-transition: none !important;
      transition: top 0s ease-out !important;
      z-index: 1;
    }
}  